.expandContent {
  width: 100%;
  height: 70vh;
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden;
}

.expandElements {
  width: 100%;
  height: 90%;
}

.h4Iter {
  visibility: visible;
}

.text1 {
  text-align: left;
}
.drawToInfo-imgsConfig {
  width: 500px;
  height: 400px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: -20%;
  margin-left: 30%;
}
.imgUrl1 {
  background-image: url("~src/assets/img/invoice.svg");
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////  ----- RESPONSIVE SECTION -----  ////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media only screen and(max-width: 1024px) {
  .support-requests__header{
    padding: 0 8px 10px 8px;
  }
  .text1{
    margin: 12px 20px 0 24px;
  }
  .h4Iter{
    margin-top: 14px;
  }

  .drawToInfo-imgsConfig {
    width: 650px;
    height: 423px;
    margin-top: -61%;
    margin-left: 15%;
  }
}
@media only screen and(max-width: 768px) {
  .drawToInfo-imgsConfig {
    width: 470px;
    height: 350px;
    margin-top: -50%;
    margin-left: 15%;
  }
}

@media only screen and(max-width: 760px) {
  .drawToInfo-imgsConfig {
    width: 220px;
    height: 246px;
    margin-top: -27%;
    margin-left: 36%;
  }
}

@media only screen and(max-width: 620px) {
  .drawToInfo-imgsConfig {
    width: 187px;
    height: 175px;
    margin-top: -27%;
    margin-left: 36%;
  }
}
@media only screen and(max-width: 580px) {
  .support-requests__header {
    padding: 0 5px 10px 5px;
  }
  .waves-wrapper {
    height: 50px;
  }
  .imgAseguradoraInstruccionesDePago {
    width: 80px;
    height: 30px;
  }
  .safesCards {
    min-height: 50px;
  }
  .notasText {
    font-size: 13px;
  }
  .text1 {
    margin: 12px 20px 0 24px;
  }
  .h4Iter {
    margin-top: 14px;
  }
  .drawToInfo-imgsConfig {
    width: 330px;
    height: 215px;
    margin-top: -36%;
    margin-left: 12%;
  }
}
@media only screen and(max-width: 420px) {
  .support-requests__header{
    padding: 0 0 10px 0;
  }

  .text1{
    margin: 24px 24px 0 24px;
  }
  .h4Iter{
    margin-top: 24px;
  }
  .drawToInfo-imgsConfig {
    width: 200px;
    height: 166px;
    margin-top: -38%;
    margin-left: 20%;
  }
}
@media only screen and(max-width: 411px) {
  .imgAseguradoraInstruccionesDePago {
    width: 57px;
    height: 30px;
  }
  .notasText {
    font-size: 10px;
    padding: 0;
  }
  .h4Iter{
    margin: 24px 0 16px;
  }
  .text1 h6{
    margin: 0 8px 0 8px;
    font-size: 16px;
  }
  .h4bold b{
    text-align: left;
    font-size: 24px;
    font-weight: 450;
  }
  .note{
    font-size: 20px;
    margin: 0 0 20px 4px;
  }
  .drawToInfo-imgsConfig {
    width: 200px;
    height: 166px;
    margin-top: -40%;
    margin-left: 20%;
  }
}
@media only screen and(max-width: 384px) {
  .text1 h6{
    margin: 0 4px 0 4px;
    font-size: 16px;
  }
  .note{
    font-size: 20px;
    margin: 0 4px 18px 4px;
  }
  .drawToInfo-imgsConfig {
    width: 200px;
    height: 138px;
    margin-top: -15%;
    margin-left: 15%;
  }
}
@media only screen and(max-width: 375px) {
  .text1 h6{
    margin: 0 4px 0 4px;
    font-size: 16px;
  }
  .note{
    font-size: 20px;
    margin: 0 4px 18px 4px;
  }
  ::-webkit-scrollbar{
    width: 4px;
  }
  .drawToInfo-imgsConfig {
    width: 200px;
    height: 138px;
    margin-top: -52%;
    margin-left: 15%;
  }
}

@media only screen and(max-width: 360px) {
  .notasText {
    font-size: 10px;
  }
  .h4Iter{
    margin: 24px 0 0 0;
  }
  .text1 h6{
    margin: 0 4px 0 4px;
    font-size: 16px;
  }
  .note{
    font-size: 20px;
    margin: 0 4px 18px 4px;
  }
  .drawToInfo-imgsConfig {
    width: 190px;
    height: 166px;
    margin-top: -6%;
    margin-left: 13%;
  }
}
@media only screen and(max-width: 320px) {
  .h4Iter {
    font-size: 20px;
  }
  .h4bold b {
    text-align: left;
    font-size: 18px;
  }
  .note {
    font-size: 16px;
    margin: 0 0 12px 14px;
  }
  .text1 h6{
    margin: 0 10px 0 18px;
    font-size: 12px;
  }
  .drawToInfo-imgsConfig {
    width: 170px;
    height: 150px;
    margin-top: 38%;
    margin-left: 10%;
  }
}
@media only screen and(max-width: 280px) {
  .notasText {
    font-size: 7px;
  }
  .h4Iter {
    font-size: 20px;
  }
  .h4bold b {
    font-size: 16px;
  }
  .note {
    margin: 0 0 4px 0;
    font-size: 15px;
  }
  .text1 h6 {
    margin: 0;
  }
  .drawToInfo-imgsConfig {
    width: 165px;
    height: 134px;
    margin-top: 65%;
    margin-left: 2%;
  }
}

