.expandContent {
  width: 100%;
  height: 70vh;
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden;
}

.expandElements {
  width: 100%;
  height: 90%;
}

.docContainer {
  width: 100%;
  height: auto;
  max-height: 80vh;
  display: inline-flex;
  justify-content: space-evenly;
}

.infoInspeccion {
  width: 95%;
  height: auto;
  max-height: 400px;
  text-align: left;
  padding: 0;
  font-size: 22px;
}

.titleP {
  font-size: 24px;
}

.subtitleP {
  font-size: 22px;
}

.h4Iter {
  visibility: visible;
}

.gifIMGInstructions {
  width: 370px;
  height: 300px;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////  ----- RESPONSIVE SECTION -----  ////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

@media only screen and(max-width: 1024px) {
  .infoInspeccion {
    font-size: 22px;
  }
  .titleP {
    font-size: 24px;
  }
  .subtitleP {
    font-size: 22px;
  }
  .subtitleP2 {
    font-size: 20px;
  }
  .gifIMGInstructions {
    width: 370px;
    height: 300px;
  }
}

@media only screen and(max-width: 768px) {
  .infoInspeccion {
    font-size: 22px;
  }
  .titleP {
    font-size: 24px;
  }
  .subtitleP {
    font-size: 22px;
  }
  .subtitleP2 {
    font-size: 20px;
  }
  .gifIMGInstructions {
    width: 370px;
    height: 300px;
  }
}

@media only screen and(max-width: 760px) {
  .titleP {
    font-size: 22px;
  }
  .infoInspeccion {
    font-size: 18px;
  }
  .subtitleP {
    font-size: 18px;
  }
  .subtitleP2 {
    font-size: 16px;
  }
  .gifIMGInstructions {
    width: 370px;
    height: 300px;
  }
}

@media only screen and(max-width: 600px) {
  .titleP {
    font-size: 22px;
  }
  .infoInspeccion {
    font-size: 18px;
  }
  .subtitleP {
    font-size: 18px;
  }
  .subtitleP2 {
    font-size: 16px;
  }
  .gifIMGInstructions {
    width: 360px;
    height: 300px;
  }
}

@media only screen and(max-width: 580px) {
  .titleP {
    font-size: 22px;
  }
  .infoInspeccion {
    font-size: 18px;
  }
  .subtitleP {
    font-size: 18px;
  }
  .subtitleP2 {
    font-size: 14px;
  }
  .gifIMGInstructions {
    width: 340px;
    height: 290px;
  }
}

@media only screen and(max-width: 420px) {
  .titleP {
    font-size: 18px;
  }
  .infoInspeccion {
    font-size: 16px;
  }
  .subtitleP {
    font-size: 16px;
  }
  .subtitleP2 {
    font-size: 14px;
  }
  .gifIMGInstructions {
    width: 300px;
    height: 270px;
  }
}

@media only screen and(max-width: 411px) {
  .titleP {
    font-size: 18px;
  }
  .infoInspeccion {
    font-size: 16px;
  }
  .subtitleP {
    font-size: 16px;
  }
  .subtitleP2 {
    font-size: 12px;
  }
  .gifIMGInstructions {
    width: 280px;
    height: 250px;
  }
}

@media only screen and(max-width: 380px) {
  .titleP {
    font-size: 18px;
  }
  .infoInspeccion {
    font-size: 16px;
  }
  .subtitleP {
    font-size: 16px;
  }
  .subtitleP2 {
    font-size: 12px;
  }
  .gifIMGInstructions {
    width: 280px;
    height: 250px;
  }
}

@media only screen and(max-width: 360px) {
  .titleP {
    font-size: 18px;
  }
  .infoInspeccion {
    font-size: 16px;
  }
  .subtitleP {
    font-size: 16px;
  }
  .subtitleP2 {
    font-size: 10px;
  }
  .gifIMGInstructions {
    width: 260px;
    height: 240px;
  }
  .expandElements {
    overflow-x: auto;
  }
}

@media only screen and(max-width: 320px) {
  .titleP {
    font-size: 16px;
  }
  .infoInspeccion {
    font-size: 14px;
  }
  .subtitleP {
    font-size: 14px;
  }
  .subtitleP2 {
    font-size: 10px;
  }
  .gifIMGInstructions {
    width: 260px;
    height: 230px;
  }
}
