.expandContent {
  width: 100%;
  height: 70vh;
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden;
}

.expandElements {
  width: 100%;
  height: 90%;
}

.itemsFlex {
  display: inline-block;
  align-items: normal;
}

.h4Iter {
  visibility: visible;
}

.text1 {
  text-align: left;
}

.safesLogos {
  width: 100%;
  height: auto;
  padding: 20px 0 10px 0;
  display: inline-block;
}

.safesCards {
  width: 90%;
  margin: 0 3% 10px;
  min-height: 120px;
  height: auto;
  padding: 5px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;

}
.Img{
  display: inline-flex;
  justify-content: left;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 100%;
}
.ajuste{
  display: inline-flex;
  justify-content: left;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

.imgAseguradoraInstruccionesDePago {
  width: 180px;
  height: 50px;
  cursor: pointer;
  transition: all linear 0.2s;
  opacity: 1;
}

.imgAseguradoraInstruccionesDePago:hover {
  opacity: 0.5;
}

.dataNotas {
  text-align: left;
  margin-left: 10px;
  width: 70%;
  font-size: 25px;
  display: inline-flex;
  justify-content: left;
}

.notasText {
  font-size: 14px;
  margin: 0;
  color: #000000;
  padding: 0 30px 0 0;
}

.circle-wrapper {
  width: 16%;
  height: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.circle {
  border-radius: 50%;
  max-height: 45px;
  max-width: 45px;
  min-height: 45px;
  min-width: 45px;
  width: 45px;
  height: 45px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: default;
  margin: 0;
}

.contentPs {
  color: #ffffff;
  margin: 0;
}

.weightX {
  font-weight: 800;
  font-size: 1.3rem;
}

.palomita {
  font-size: 3rem;
  transform: rotate(
      135deg
  );
}

.haveDocument {
  background-color: #74cd5c;
}

.noDocument {
  background-color: #ff6161;
}

.showText {
  display: none;
}

.unActiveAnimationContainer {
  width: 100%;
  height: 100px;
}

.header2 {
  position:relative;
  text-align:center;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgb(123, 142, 236) 40%, rgb(77, 56, 198) 60%, rgba(255,255,255,1) 100%);
  color:white;
}
.logo {
  width:50px;
  fill:white;
  padding-right:15px;
  display:inline-block;
  vertical-align: middle;
}

.inner-header {
  height: 100px;
  width:100%;
  margin: 0;
  padding: 0;
}

.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position:relative;
  height: 100px;
  width: 100%;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: white;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px,0,0);
  }
  100% {
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}

.viewerContainer {
  width: 100%;
  margin: 2% 2% 2% 2%;
  min-height: 100px;
  overflow: scroll;
  position: relative;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.note {
  font-weight: bold;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////  ----- RESPONSIVE SECTION -----  ////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

@media only screen and(max-width: 1024px) {
  .notasText {
    font-size: 23px;
    font-weight: normal;
  }
  .circle {
    max-height: 45px;
    max-width: 45px;
    min-height: 45px;
    min-width: 45px;
    width: 45px;
    height: 45px;
  }
  .expandContent{
    height: 87vh;
  }
}
@media only screen and(max-width: 768px) {
  .notasText {
    font-size: 15px;
    font-weight: normal;
  }
  .circle {
    max-height: 40px;
    max-width: 40px;
    min-height: 40px;
    min-width: 40px;
    width: 40px;
    height: 40px;
  }
  .expandContent{
    height: 83vh;
  }
}
@media only screen and(max-width: 760px) {
  .unActiveAnimationContainer {
    height: 60px;
  }
  .imgAseguradoraInstruccionesDePago {
    width: 150px;
    height: 50px;
  }
  .safesCards {
    min-height: 100px;
  }
  .circle {
    max-height: 40px;
    max-width: 40px;
    min-height: 40px;
    min-width: 40px;
    width: 40px;
    height: 40px;
  }
  .notasText {
    font-size: 15px;
    font-weight: normal;
  }
}
@media only screen and(max-width: 600px) {
  .unActiveAnimationContainer {
    height: 60px;
  }
  .imgAseguradoraInstruccionesDePago {
    width: 140px;
    height: 40px;
  }
  .safesCards {
    min-height: 90px;
  }
  .notasText {
    font-size: 15px;
    font-weight: normal;
  }
  .circle {
    max-height: 30px;
    max-width: 30px;
    min-height: 30px;
    min-width: 30px;
    width: 30px;
    height: 30px;
  }
}
@media only screen and(max-width: 580px) {
  .unActiveAnimationContainer {
    height: 60px;
  }
  .imgAseguradoraInstruccionesDePago {
    width: 120px;
    height: 40px;
  }
  .safesCards {
    min-height: 90px;
  }
  .notasText {
    font-size: 14px;
    font-weight: normal;
  }
  .circle {
    max-height: 30px;
    max-width: 30px;
    min-height: 30px;
    min-width: 30px;
    width: 30px;
    height: 30px;
  }
  .palomita {
    font-size: 1.5rem;
  }
  .weightX {
    font-weight: 800;
    font-size: 0.7rem;
  }
}
@media only screen and(max-width: 540px) {
  .unActiveAnimationContainer {
    height: 50px;
  }
  .imgAseguradoraInstruccionesDePago {
    width: 80px;
    height: 30px;
  }
  .safesCards {
    min-height: 50px;
  }
  .notasText {
    font-size: 11px;
    font-weight: normal;
  }
  .circle {
    max-height: 20px;
    max-width: 20px;
    min-height: 20px;
    min-width: 20px;
    width: 20px;
    height: 20px;
  }
  .palomita {
    font-size: 1.5rem;
  }
  .weightX {
    font-weight: 800;
    font-size: 0.7rem;
  }
  .expandContent{
    height: 78.5vh;
  }
}
@media only screen and(max-width: 420px) {
  .unActiveAnimationContainer {
    height: 60px;
  }
  .imgAseguradoraInstruccionesDePago {
    width: 90px;
    height: 40px;
  }
  .safesCards {
    min-height: 70px;
  }
  .notasText {
    font-size: 12px;
  }
  .circle {
    max-height: 20px;
    max-width: 20px;
    min-height: 20px;
    min-width: 20px;
    width: 20px;
    height: 20px;
  }
  .palomita {
    font-size: 1.5rem;
  }
  .weightX {
    font-weight: 800;
    font-size: 0.7rem;
  }
}
@media only screen and(max-width: 414px) {
  .unActiveAnimationContainer {
    height: 50px;
  }
  .imgAseguradoraInstruccionesDePago {
    width: 80px;
    height: 30px;
  }
  .safesCards {
    min-height: 50px;
  }
  .notasText {
    font-size: 11px;
    font-weight: normal;
  }
  .support-requests__header{
    padding: 0;
  }
  .text1{
    margin: 24px 24px 0 24px;
  }
  .h4Iter{
    margin-top: 24px;
  }
  .palomita {
    font-size: 1.5rem;
  }
  .weightX {
    font-weight: 800;
    font-size: 0.7rem;
  }
  .expandContent{
    height: 83vh;
  }
}
@media only screen and(max-width: 411px) {
  .imgAseguradoraInstruccionesDePago {
    width: 57px;
    height: 30px;
  }
  .support-requests__header {
    padding: 0;
    margin: 0;
  }
  .notasText {
    font-size: 10px;
    padding: 0;
    font-weight: normal;
  }
  .h4Iter{
    margin: 24px 0 16px;
  }
  .text1 h6{
    margin: 0 8px 0 8px;
    font-size: 16px;
  }
  .h4bold b{
    text-align: left;
    font-size: 24px;
    font-weight: 450;
  }
  .note{
    font-size: 20px;
    margin: 0 0 20px 4px;
  }
  .palomita {
    font-size: 1.7rem;
  }
  .weightX {
    font-weight: 800;
    font-size: 0.68rem;
  }
  .expandContent{
    height: 83vh;
  }
}
@media only screen and(max-width: 384px) {
  .text1 h6{
    margin: 0 4px 0 4px;
    font-size: 16px;
  }
  .note{
    font-size: 20px;
    margin: 0 4px 18px 4px;
  }
}
@media only screen and(max-width: 375px) and(max-height: 812px) {
  .text1 h6{
    margin: 0 4px 0 4px;
    font-size: 16px;
  }
  .note{
    font-size: 20px;
    margin: 0 4px 18px 4px;
  }
}
@media only screen and(max-width: 375px) and(max-height: 812px) {
  .expandContent{
    height: 85vh;
  }
}
@media only screen and(max-width: 375px) and(max-height: 667px) {
  .expandContent{
    height: 82vh;
  }
}
@media only screen and(max-width: 360px) {
  .notasText {
    font-size: 10px;
  }
  .h4Iter{
    margin: 24px 0 0 0;
  }
  .text1 h6{
    margin: 0 4px 0 4px;
    font-size: 16px;
  }
  .note{
    font-size: 20px;
    margin: 0 4px 18px 4px;
  }
  .palomita {
    font-size: 1rem;
  }
  .weightX {
    font-size: 0.6rem;
  }
  .expandContent{
    height: 80vh;
  }
}
@media only screen and(max-width: 320px) {
  .h4Iter {
    font-size: 20px;
  }
  .h4bold b {
    text-align: left;
    font-size: 18px;
  }
  .note {
    font-size: 16px;
    margin: 0 0 12px 14px;
  }
  .text1 h6{
    margin: 0 10px 0 18px;
    font-size: 12px;
  }
}
@media only screen and(max-width: 280px){
  .notasText {
    font-size: 7px;
  }
  .h4Iter{
    font-size: 20px;
  }
  .h4bold b{
    font-size: 16px;
  }
  .note{
    margin: 0 0 4px 0;
    font-size: 15px;
  }
  .text1 h6{
    margin: 0;
  }
}
