<mat-card class="support-requests">

  <mat-card-content class="support-requests__content">
    <div class="container" *ngIf="!loaderCondition">
      <div class="box">
        <div class="skeleton">
          <div class="skeleton-left flex1">
            <div class="square circle"></div>
          </div>
          <div class="skeleton-right flex2">
            <div class="line h17 w40 m10"></div>
            <div class="line"></div>
            <div class="line h8 w50"></div>
            <div class="line  w75"></div>
          </div>
        </div>
        <div class="skeleton">
          <div class="skeleton-left flex1">
            <div class="square circle"></div>
          </div>
          <div class="skeleton-right flex2">
            <div class="line h17 w40 m10"></div>
            <div class="line"></div>
            <div class="line h8 w50"></div>
            <div class="line  w75"></div>
          </div>
        </div>
        <div class="skeleton">
          <div class="skeleton-left flex1">
            <div class="square circle"></div>
          </div>
          <div class="skeleton-right flex2">
            <div class="line h17 w40 m10"></div>
            <div class="line"></div>
            <div class="line h8 w50"></div>
            <div class="line  w75"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="main custom-margin-TOP" *ngIf="loaderCondition">
      <mat-card class="example-card" *ngIf="cliente">
        <mat-card-header class="image-pdf-header">
        </mat-card-header>
        <mat-card-content>
          <div class="body-card">
            <br>
            <div class="title-producto">DATOS PERSONALES</div>
            <br>
            <div class="body-text">
              <p class="p-title">NOMBRE</p>
              <p class="p-text">{{cliente.nombre}}</p>
              <p style="width: 70%; height: 1px; background: #c8d2c7">
              <p class="p-title">APELLIDO PATERNO</p>
              <p class="p-text">{{cliente.paterno}}</p>
              <p style="width: 70%; height: 1px; background: #c8d2c7">
              <p class="p-title">APELLIDO MATERNO</p>
              <p class="p-text">{{cliente.materno}}</p>
              <p style="width: 70%; height: 1px; background: #c8d2c7">
              <p class="p-title">FECHA DE NACIMIENTO</p>
              <p class="p-text">{{cliente.fechaNacimiento}}</p>
              <p style="width: 70%; height: 1px; background: #c8d2c7">
              <p class="p-title">CURP</p>
              <p class="p-text">{{cliente.curp}}</p>
              <p style="width: 70%; height: 1px; background: #c8d2c7">
              <p class="p-title">RFC</p>
              <p class="p-text">{{cliente.rfc}}</p>
              <p style="width: 70%; height: 1px; background: #c8d2c7">
              <p class="p-title">TELEFONO</p>
              <p class="p-text">{{cliente.telefonoMovil}}</p>
              <p style="width: 70%; height: 1px; background: #c8d2c7">
              <p class="p-title">CORREO ELECTRONICO</p>
              <p class="p-text">{{cliente.correo}}</p>
              <p style="width: 70%; height: 1px; background: #c8d2c7">
            </div>
            <br>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card class="example-card" *ngIf="cliente">
        <mat-card-header class="image-pdf-header">
        </mat-card-header>
        <mat-card-content>
          <div class="body-card">
            <br>
            <div class="title-producto">DATOS DE DOMICILIO</div>
            <br>
            <div class="body-text">
              <p class="p-title">PAIS</p>
              <p class="p-text">{{cliente.nombrePaises}}</p>
              <p style="width: 70%; height: 1px; background: #c8d2c7">
              <p class="p-title">COLONIA</p>
              <p class="p-text">{{cliente.colonia}}</p>
              <p style="width: 70%; height: 1px; background: #c8d2c7">
              <p class="p-title">CODIGO POSTAL</p>
              <p class="p-text">{{cliente.cp}}</p>
              <p style="width: 70%; height: 1px; background: #c8d2c7">
              <p class="p-title">CALLE</p>
              <p class="p-text">{{cliente.calle}}</p>
              <p style="width: 70%; height: 1px; background: #c8d2c7">
              <p class="p-title">NUMERO EXTERIOR</p>
              <p class="p-text">{{cliente.numExt}}</p>
              <p style="width: 70%; height: 1px; background: #c8d2c7">
              <p class="p-title">NUMERO INTERIOR</p>
              <p class="p-text">{{cliente.numInt}}</p>
              <p style="width: 70%; height: 1px; background: #c8d2c7">
            </div>
            <br>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

  </mat-card-content>
</mat-card>
