main {
  width: 100%;
  height: 90%;
}
.globalContainer {
  width: 100%;
  display: inline-flex;
  height: 500px;
  padding: 50px 0;
}

.form {
  width: 100%;
  height: 80vh;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.banner {
  width: 100%;
  height: 80vh;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.formCard {
  width: 400px;
  height: 70vh;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}

form {
  width: 100%;
  height: 40vh;
  margin-top: 50px;
  display: inline-block;
}

.actions {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100px;
}

mat-form-field {
  width: 100%;
}

.drawLogin {
  width: 500px;
  height: 500px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat
}

.mat-input-element {
  background: #ececec;
  border-radius: 10px;
  height: 40px;
  font-weight: normal;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////  ----- RESPONSIVE SECTION -----  ////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

@media only screen and(max-width: 1024px) {

  .formCard {
    height: 50vh;
  }
  .drawLogin {
    width: 480px;
  }
  .title-3 {
    padding-right: 40px;
    font-size: 23px;
  }
  actions {
    margin-top: -220px;
  }
}
@media only screen and(max-width: 768px) {

  .banner {
    display: none;
  }

  .formCard {
    width: 420px;
    height: 60vh;
  }
  .title-3 {
    padding-right: 40px;
    font-size: 35px;
  }
  .actions {
    margin-top: -115px;
  }

}
@media only screen and(max-width: 760px) {

  .banner {
    display: none;
  }

  .formCard {
    width: 420px;
    height: 60vh;
  }
  .title-3 {
    padding-right: 40px;
  }
  .actions {
    margin-top: 40px;
  }

}
@media only screen and(max-width: 620px) {

  .globalContainer {
    padding: 30px 0;
  }

  .banner {
    display: none;
  }

  .formCard {
    width: 420px;
  }
  .title-3 {
    padding-right: 40px;
  }
  .actions {
    margin-top: 80px;
  }
}
@media only screen and(max-width: 600px) {

  .globalContainer {
    padding: 30px 0;
  }

  .banner {
    display: none;
  }

  .formCard {
    width: 420px;
  }
  .title-3 {
    padding-right: 40px;
  }
  .actions {
    margin-top: 80px;
  }
}
@media only screen and(max-width: 580px) {
  .globalContainer {
    padding: 30px 0;
  }

  .banner {
    display: none;
  }

  .formCard {
    width: 420px;
  }
  .title-3 {
    padding-right: 40px;
  }
  .actions {

    margin-top: 40px;
  }
}
@media only screen and(max-width: 420px) {
  .globalContainer {

    padding: 30px 0;
  }

  .banner {
    display: none;
  }

  .formCard {
    width: 420px;
    height: 50vh;
  }
  .title-3 {
    padding-right: 40px;
  }
  .actions {
    margin-top: 40px;
  }
}
@media only screen and(max-width: 414px) {
  .globalContainer {
    padding: 30px 0;
  }

  .banner {
    display: none;
  }

  .formCard {
    width: 420px;
    height: 50vh;
  }
  .title-3 {
    padding-right: 40px;
    font-size: 28px;
  }
  .actions {
    margin-top: -100px;
  }
}
@media only screen and(max-width: 411px) {
  .globalContainer {
    padding: 30px 0;
  }

  .banner {
    display: none;
  }

  .formCard {
    width: 420px;
    height: 50vh;
  }
  .title-3 {
    padding-right: 40px;
    font-size: 28px;
  }
  .actions {
    margin-top: -115px;
  }
}
@media only screen and(max-width: 380px) {
  .globalContainer {
    padding: 30px 0;
  }

  .banner {
    display: none;
  }

  .formCard {
    width: 420px;
    height: 50vh;
  }
  .title-3 {
    padding-right: 40px;
    font-size: 24px;
  }
  .actions {
    margin-top: -100px;
  }
}
@media only screen and(max-width: 360px) {
  .globalContainer {
    padding: 30px 0;
  }

  .banner {
    display: none;
  }

  .formCard {
    width: 420px;
  }
  .title-3 {
    padding-right: 40px;
    font-size: 22px;
  }
  .actions {
    margin-top: 10px;
  }
}
@media only screen and(max-width: 320px) {
  .globalContainer {
    padding: 30px 0;
  }

  .banner {
    display: none;
  }

  .formCard {
    width: 420px;
  }
  .title-3 {
    padding-right: 40px;
    font-size: 18px;
  }
  .actions {
    margin-top: -90px;
  }
}
@media only screen and(max-width: 280px) {
  .globalContainer {
    padding: 30px 0;
  }

  .banner {
    display: none;
  }

  .formCard {
    width: 420px;
  }
  .title-3 {
    padding-right: 40px;
    font-size: 20px;
  }
  .actions {
    margin-top: 54px;
  }
}

