<mat-card class="support-requests">
  <mat-card-title class="support-requests__header">
    <section class="expandContent">
      <h4 class="h4Iter">Condiciones Generales</h4>
      <div class="expandElements">
        <section class="safesLogos">
          <mat-card class="safesCards" *ngFor="let insure of insurersGroupCollection; let i = index">
            <img src="{{insure.urlIMG}}" alt="Insurancers Graph Img" class="imgAseguradoraInstruccionesDePago" (click)="openDialog(i)">
            <div class="waves-wrapper">
              <div class="header2">
                <div>
                  <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                       viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
                    <defs>
                      <path id="gentle-wave"
                            d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"/>
                    </defs>
                    <g class="parallax">
                      <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7"/>
                      <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)"/>
                      <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)"/>
                      <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff"/>
                    </g>
                  </svg>
                </div>
              </div>
            </div>
          </mat-card>
        </section>
      </div>
    </section>
  </mat-card-title>
</mat-card>
