@import 'src/app/styles/colors';
@import 'src/app/styles/font';
@import 'src/app/styles/variables';

.support-requests {
  margin: 0 24px;
  padding: 0;
  box-shadow: 0 3px 11px 0 $shadow-white, 0 3px 3px -2px $shadow-grey, 0 1px 8px 0 $shadow-dark-grey;

  &__header {
    color: $grey;
    display: flex;
    justify-content: space-between;
    padding: 24px 24px 8px;
    margin-bottom: 0;
  }

  &__title {
    font-size: $fs-medium;
    font-weight: $fw-lighter;
    margin: 0;
    line-height: 40px;
  }

  &__content {
    height: 427px;
    overflow-y: hidden;
    overflow-x: scroll;

    @media (max-width: $small) {
      height: auto;
    }
  }

  &__table {
    width: 100%;
  }

  &__table-row {
    height: 64px;
  }

  &__table-row-title {
    color: $dark-grey;
    font-size: $fs-small;
    font-weight: $fw-lighter;
    line-height: 24px;
    text-transform: uppercase;
    padding: 18.4px;
  }

  &__table-content {
    color: $dark-grey;
    font-size: $fs-small;
    padding: 20px;
  }

  &__content-badge {
    width: fit-content;
    border-radius: 32px;
    color: $white;
    text-align: center;
    padding: 5px 10px;
    font-size: 13px;
    box-sizing: border-box;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: $fw-lighter;
    line-height: 1.75;
    letter-spacing: 0.45px;

    &::first-letter {
      text-transform: uppercase;
    }
  }
}

.expandContent {
  width: 100%;
  height: 70vh;
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden;
}
.expandElements {
  width: 100%;
  height: 90%;
}

.h4Iter {
  visibility: visible;
  font-size: 28px;
}

.safesLogos {
  width: 100%;
  height: auto;
  padding: 20px 0 10px 0;
  display: inline-block;
}
.safesCards {
  width: 90%;
  margin: 0 3% 10px;
  min-height: 120px;
  height: auto;
  padding: 5px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;

}
.imgAseguradoraInstruccionesDePago {
  width: 180px;
  height: 50px;
  cursor: pointer;
  transition: all linear 0.2s;
  opacity: 1;
}
.imgAseguradoraInstruccionesDePago:hover {
  opacity: 0.5;
}
.waves-wrapper {
  width: 100%;
  height: 100px;
}
.header2 {
  position:relative;
  text-align:center;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgb(123, 142, 236) 40%, rgb(77, 56, 198) 60%, rgba(255,255,255,1) 100%);
  color:white;
}
.waves {
  position:relative;
  height: 100px;
  width: 100%;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

/* Animation */
.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px,0,0);
  }
  100% {
    transform: translate3d(85px,0,0);
  }
}

/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}
::-webkit-scrollbar{
  width: 5px;
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////  ----- RESPONSIVE SECTION -----  ////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media only screen and(max-width: 1024px) {
  .support-requests__header{
    padding: 8px;
  }
  .h4Iter{
    margin-top: 14px;
  }
  .icons-wrapper{
    width: 100%;
    height: 0%;
    display: inline-flex;
  }
  figcaption{
    font-size: 22px;
    margin-top: 10px;
  }
  .cgtype-icon{
    height: 50px;
  }
}
@media only screen and(max-width: 768px) {
  .support-requests__header{
    padding: 8px;
  }
  .h4Iter{
    margin-top: 14px;
  }
  .icons-wrapper{
    width: 100%;
    height: 0%;
    display: inline-flex;
  }
  figcaption{
    font-size: 20px;
    margin-top: 10px;
  }
  .cgtype-icon{
    height: 45px;
  }
}
@media only screen and(max-width: 600px) {
  .imgAseguradoraInstruccionesDePago {
    width: 140px;
    height: 40px;
  }
  .safesCards {
    min-height: 90px;
  }
  .h4Iter{
    margin-top: 14px;
    font-size: 24px;
  }
}
@media only screen and(max-width: 580px) {
  .waves-wrapper {
    height: 60px;
  }
  .imgAseguradoraInstruccionesDePago {
    width: 120px;
    height: 40px;
  }
}
@media only screen and(max-width: 540px) {
  .support-requests__header{
    padding: 5px;
  }
  .waves-wrapper {
    height: 50px;
  }
  .imgAseguradoraInstruccionesDePago {
    width: 80px;
    height: 30px;
  }
  .safesCards {
    min-height: 50px;
  }
  .h4Iter{
    margin-top: 14px;
  }
}
@media only screen and(max-width: 414px) {
  .support-requests__header{
    padding: 0;
  }
  .h4Iter{
    margin-top: 24px;
  }
  .icons-wrapper{
    width: 100%;
    height: 0%;
    display: inline-flex;
  }
  figcaption{
    font-size: 9px;
    margin-top: -4px;
  }
  .cgtype-icon{
    height: 17px;
  }
}
@media only screen and(max-width: 411px) {
  .imgAseguradoraInstruccionesDePago {
    width: 57px;
    height: 30px;
  }
  .support-requests__header {
    padding: 0;
    margin: 0;
  }
  .h4Iter{
    margin: 24px 0 16px;
  }
}
@media only screen and(max-width: 375px)  {
  ::-webkit-scrollbar{
    width: 4px;
  }
  .icons-wrapper{
    width: 100%;
    height: 0%;
    display: inline-flex;
  }
  figcaption{
    font-size: 9px;
    margin-top: -4px;
  }
  .cgtype-icon{
    height: 17px;
  }
}
@media only screen and(max-width: 360px) {
  .h4Iter{
    margin: 22px 0 0 0;
  }
}
@media only screen and(max-width: 320px) {
  .h4Iter {
    font-size: 20px;
  }
  .icons-wrapper{
    width: 100%;
    height: 0%;
    display: inline-flex;
  }
  figcaption{
    font-size: 7px;
    margin-top: -4px;
  }
  .cgtype-icon{
    height: 17px;
  }
}
@media only screen and(max-width: 280px){
  .h4Iter{
    font-size: 20px;
  }
}

//////////////////////////////////////////////RESPONSIVE HEIGTH/////////////////////////////////////////////////////////
@media only screen and(max-height: 1366px){
  .expandContent{
    height: 88vh;
  }
}
@media only screen and(max-height: 1024px){
  .expandContent{
    height: 85vh;
  }
}
@media only screen and(max-height: 830px){
  .expandContent{
    height: 82vh;
  }
}
@media only screen and(max-height: 768px){
  .expandContent{
    height: 80vh;
  }
}
@media only screen and(max-height: 667px){
  .expandContent{
    height: 78vh;
  }
}
@media only screen and(max-height: 568px){
  .expandContent{
    height: 75vh;
  }
}
@media only screen and(max-height: 414px) {
  .expandContent {
    height: 67vh;
  }
}
@media only screen and(max-height: 384px){
  .expandContent{
    height: 63vh;
  }
}
@media only screen and(max-height: 320px){
  .expandContent{
    height: 58vh;
  }
}
@media only screen and(max-height: 280px){
  .expandContent{
    height: 55vh;
  }
}
