.expandContent {
  width: 100%;
  height: 70vh;
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden;
}
.expandElements {
  width: 100%;
  height: 90%;
}
.subtitleP {
  font-size: 22px;
}
.h4Iter {
  visibility: visible;
}
.drawToInfo-imgsConfig {
  width: 435px;
  height: 260px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: -27%;
  margin-left: 36%;
}
.imgUrl1 {
  background-image: url("~src/assets/img/aclaracion.svg");
}
// ----- RESPONSIVE SECTION -----
@media only screen and(max-width: 1024px) {
  .subtitleP {
    font-size: 22px;
  }
  .drawToInfo-imgsConfig {
    width: 650px;
    height: 423px;
    margin-top: -61%;
    margin-left: 15%;
  }
}

@media only screen and(max-width: 768px) {
  .drawToInfo-imgsConfig {
    width: 470px;
    height: 350px;
    margin-top: -61%;
    margin-left: 15%;
  }
  .subtitleP {
    font-size: 22px;
  }
}

@media only screen and(max-width: 760px) {
  .drawToInfo-imgsConfig {
    width: 470px;
    height: 350px;
    margin-top: -61%;
    margin-left: 15%;
  }
  .subtitleP {
    font-size: 18px;
  }
}
@media only screen and(max-width: 620px) {
  .drawToInfo-imgsConfig {
    width: 187px;
    height: 175px;
    margin-top: -27%;
    margin-left: 36%;
  }
  .subtitleP {
    font-size: 18px;
  }
}

@media only screen and(max-width: 580px) {
  .drawToInfo-imgsConfig {
    width: 330px;
    height: 215px;
    margin-top: -65%;
    margin-left: 12%;
  }
  .subtitleP {
    font-size: 18px;
  }
}

@media only screen and(max-width: 420px) {
  .drawToInfo-imgsConfig {
    width: 200px;
    height: 166px;
    margin-top: -80%;
    margin-left: 20%;
  }
  .subtitleP {
    font-size: 16px;
  }
}
@media only screen and(max-width: 411px) {
  .drawToInfo-imgsConfig {
    width: 200px;
    height: 166px;
    margin-top: -80%;
    margin-left: 20%;
  }
  .subtitleP {
    font-size: 16px;
  }
}

@media only screen and(max-width: 380px) {
  .drawToInfo-imgsConfig {
    width: 200px;
    height: 138px;
    margin-top: -80%;
    margin-left: 15%;
  }
  .subtitleP {
    font-size: 16px;
  }
}
@media only screen and(max-width: 360px) {
  .drawToInfo-imgsConfig {
    width: 190px;
    height: 166px;
    margin-top: -90%;
    margin-left: 13%;
  }
  .subtitleP {
    font-size: 16px;
  }

}

@media only screen and(max-width: 320px) {
  .drawToInfo-imgsConfig {
    width: 170px;
    height: 150px;
    margin-top: -96%;
    margin-left: 10%;
  }
  .subtitleP {
    font-size: 14px;
  }
}
@media only screen and(max-width: 280px) {
  .drawToInfo-imgsConfig {
    width: 165px;
    height: 134px;
    margin-top: -120%;
    margin-left: 2%;
  }
}
