<main>
  <div class="globalContainer">

    <!--    FORMUARIO-->
    <div class="form">

      <mat-card class="formCard">
        <div class="title-login">
        <mat-card-header class="title-3" style="font-weight: bold">
          Inicio de sesión
        </mat-card-header>
        </div>
            <form [formGroup]="loginForm">
              <div>
                <mat-form-field appearance="legacy" class="title-4">
                  <mat-label>Ingresa tu usuario</mat-label>
                  <input matInput formControlName="email">
                </mat-form-field>
                <mat-error class="error" *ngIf="!loginForm.controls['email'].valid && loginForm.controls['email'].dirty">
                  Se requiere llenar el campo correctamente
                </mat-error>
              </div>

              <div>
                <mat-form-field appearance="legacy" class="title-4">
                  <mat-label>Ingresa tu contraseña</mat-label>
                  <input matInput formControlName="contrasenaApp" [type]="hide ? 'password' : 'text'">
                  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                          [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                </mat-form-field>
                <mat-error class="error"
                           *ngIf="!loginForm.controls['contrasenaApp'].valid && loginForm.controls['contrasenaApp'].dirty">
                  Se requiere llenar el campo correctamente
                </mat-error>
              </div>

              <div class="actions">
                <button id="button-blue" mat-raised-button color="primary" class="button-submit title-4"
                        (click)="iniciarSesion()">Ingresar
                </button>
                <mat-error>
                  {{result}}
                </mat-error>
              </div>
            </form>
      </mat-card>
    </div>

    <!--    IMAGEN A MOSTRAR SEGUN EL ESTADO DEL LOGIN-->
    <div class="banner">
      <div class="drawLogin"></div>
    </div>
  </div>
</main>
