<div class="general-wrapper" *ngIf="documentRoute">
<div class="pdf-wrapper">
<pdf-viewer [src]="documentRoute" style=" overflow: scroll;"
            [original-size]="false"
            [autoresize]="true"
></pdf-viewer>
</div>
</div>
<div class="indicator-wrapper" *ngIf="!documentRoute">
  <p class="text">Disculpe los inconvenientes</p>
  <div class="indicator">
  <p class="indicator-symbol">X</p>
  </div>
  <p class="text">La aseguradora esta renovando<br> este documento</p>
</div>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cerrar</button>
</mat-dialog-actions>



