<mat-card class="support-requests">
  <mat-card-title class="support-requests__header">
    <section>
      <h4>CAMBIAR CONTRASEÑA</h4>

      <mat-card class="formPassword">
        <form class="formPassword" [formGroup]="formGroup">
          <mat-form-field appearance="legacy">
            <mat-label>Nueva Contraseña</mat-label>
            <input formControlName="password" matInput [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="passwordField.errors && passwordField.touched">
              <span *ngIf="passwordField.hasError('required') && !passwordField.hasError('pattern')">La contraseña es
                obligatoria</span>
              <span *ngIf="passwordField.hasError('pattern')">Contraseña Invalida</span>
            </mat-error>
          </mat-form-field>


          <mat-form-field appearance="legacy">
            <mat-label>Confirmar Contraseña</mat-label>
            <input formControlName="confirmPassword" matInput [type]="hide2 ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide2">
              <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="confirmPasswordField.errors && confirmPasswordField.touched">
              <span *ngIf="confirmPasswordField.hasError('required')">La contraseña es obligatoria</span>
            </mat-error>
          </mat-form-field>

          <div *ngIf="confirmChangePass === true">
            <h6 style="font-size: 12px;">Escribe tu contraseña actual para confirmar el cambio</h6>
            <mat-form-field appearance="legacy">
              <mat-label>Contraseña Actual</mat-label>
              <input formControlName="currentPassword" type="password" matInput>
            </mat-form-field>
          </div>

          <!-- <p class="dangerText" *ngIf="registerForm.invalid && ">Las contraseñas no coinciden</p> -->

          <button (click)="confirmPassword()" mat-raised-button [disabled]="formGroup.invalid">
            Registrar
          </button>
        </form>

      </mat-card>
    </section>
  </mat-card-title>
</mat-card>