<app-layout>
<!--  -----------------------   -->
  <mat-card class="support-requests">
    <div class="topCard">
      <div routerLink="/polizas" class="topButtons">
        <mat-icon>arrow_back_ios</mat-icon> <p>Regresar a Polizas</p>
      </div>
      <div 
        class="topButtons" 
        (click)="getPoliza()" 
        *ngIf="downloadButton"
      >
        <mat-icon>sim_card_download</mat-icon><p>Descargar Poliza</p>
      </div>
    </div>
    <div class="loadSpinner" *ngIf="!downloadButton">
      <mat-spinner></mat-spinner>
    </div>

    <mat-card-content class="support-requests__content">
      <!----------------------------->
      <pdf-viewer [src]="urlPDF" style="width: 70% !important; overflow: hidden; margin-top: 170px!important;"
                  [autoresize]="true"
                  [original-size]="false"
                  (page-rendered)="pageRendered()"
      ></pdf-viewer>
      <!----------------------------->
    </mat-card-content>
  </mat-card>
<!--  -----------------------   -->

  <app-footer></app-footer>
</app-layout>
