<mat-toolbar class="header">

  <div class="header__title">
    <div>
      <!--    MENU GLOBAL BUTTON-->
      <div id="hamburger" class="menu-icon-container" [ngClass]="menuOpen? 'hamburglar is-open': 'hamburglar is-closed'"
           (click)="toggleMenu()">
        <div class="burger-icon">
          <div class="burger-container">
            <span class="burger-bun-top"></span>
            <span class="burger-filling"></span>
            <span class="burger-bun-bot"></span>
          </div>
        </div>

        <!-- svg ring containter -->
        <div class="burger-ring">
          <svg class="svg-ring">
            <path class="path" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="4"
                  d="M 34 2 C 16.3 2 2 16.3 2 34 s 14.3 32 32 32 s 32 -14.3 32 -32 S 51.7 2 34 2"/>
          </svg>
        </div>
        <!-- the masked path that animates the fill to the ring -->

        <svg width="0" height="0">
          <mask id="mask">
            <path xmlns="http://www.w3.org/2000/svg" fill="none" stroke="#ff0000" stroke-miterlimit="10" stroke-width="4"
                  d="M 34 2 c 11.6 0 21.8 6.2 27.4 15.5 c 2.9 4.8 5 16.5 -9.4 16.5 h -4"/>
          </mask>
        </svg>
        <div class="path-burger">
          <div class="animate-path">
            <div class="path-rotation"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="content" role="main">
      <!--menu-->
      <menu [ngClass]="menuOpen?'visible':'success'">
        <aside>
          <ul>
            <!--          MODULO DE RH-->
            <div class="menuPrincipal">
              <li class="elementos-del-menu-1" (click)="openHijo($event)" routerLink="{{routes.POLIZAS}}" routerLinkActive="active"><mat-icon>description</mat-icon>Mis pólizas</li>
              <li class="elementos-del-menu-1" (click)="openHijo($event)" routerLink="{{routes.SOLICITUDES}}" routerLinkActive="active"><mat-icon>receipt</mat-icon>Mis solicitudes</li>
              <li class="elementos-del-menu-1" (click)="openHijo($event)" routerLink="{{routes.DATOS_PERSONALES}}" routerLinkActive="active"><mat-icon>filter_none</mat-icon>Mis datos</li>
              <li class="elementos-del-menu-1" (click)="openHijo($event)" routerLink="{{routes.IDENTIFICACION_OFICIAL}}" routerLinkActive="active"><mat-icon>account_box</mat-icon>Identificacion Oficial</li>
              <li class="elementos-del-menu-1" (click)="openHijo($event)" routerLink="{{routes.INSPECCION_VEHICULAR}}" routerLinkActive="active"><mat-icon>car_repair</mat-icon>Inspección Vehicular</li>
              <li class="elementos-del-menu-1" (click)="openHijo($event)" routerLink="{{routes.EN_CASO_DE_SINIESTRO}}" routerLinkActive="active"><mat-icon>error</mat-icon>En Caso de Siniestro</li>
              <li class="elementos-del-menu-1" (click)="openHijo($event)" routerLink="{{routes.EN_CASO_DE_SINIESTRO}}" routerLink="{{routes.AJUSTES}}" routerLinkActive="active"><mat-icon>settings</mat-icon>Ajustes</li>
              <!--- sub menu y boton para su apertura --->
              <li class="open-sub-list" (click)="openUiElements()" [style.background-color]="changesStyles()" style="transition: 0.4s">
                <mat-icon>headset_mic</mat-icon><p>Atención a clientes</p><mat-icon [style.transform]="transformStyles()" style="transition: 0.4s">arrow_drop_down</mat-icon>
              </li>
              <li routerLink="{{routes.ACLARACION_Y_SUGERENCIAS}}" routerLinkActive="active" class="item-sub-list" *ngIf="isOpenUiElements">
                <mat-icon> live_help</mat-icon><p>Aclaración y Sugerencias</p>
              </li>
              <li routerLink="{{routes.INSTRUCCIONES_DE_PAGO}}" routerLinkActive="active" class="item-sub-list" *ngIf="isOpenUiElements">
                <mat-icon> comment</mat-icon><p>Instrucciones de pago</p>
              </li>
              <li routerLink="{{routes.CATALOGO_DE_FACTURACION}}" routerLinkActive="active" class="item-sub-list" *ngIf="isOpenUiElements">
                <mat-icon>chrome_reader_mode</mat-icon><p>Catalogo de Facturación</p>
              </li>
              <li routerLink="{{routes.CONDICIONES_GENERALES}}" routerLinkActive="active" class="item-sub-list" *ngIf="isOpenUiElements">
                <mat-icon>view_module</mat-icon><p>Codiciones Generales</p>
              </li>
              <li routerLink="{{routes.CANCELAR_UNA_POLIZA}}" routerLinkActive="active" class="item-sub-list" *ngIf="isOpenUiElements">
                <mat-icon>assignment_late</mat-icon><p>Cancelar una Poliza</p>
              </li>
              <li routerLink="{{routes.SOLICITAR_MODIFICACIONES}}" routerLinkActive="active" class="item-sub-list" *ngIf="isOpenUiElements">
              <mat-icon>edit</mat-icon><p>Modificar Poliza</p>
              </li>
            </div>
          </ul>
        </aside>
      </menu>
      <!--end menu-->
    </div>

    <div class="bannerOnline" routerLink="{{routes.DASHBOARD}}" routerLinkActive="active"></div>
  </div>



  <div class="header-toolbar">
<!--    <app-search></app-search>-->
<!--    <app-notifications></app-notifications>-->
<!--    <app-email [emails]="emails$ | async"></app-email>-->
    <app-user (signOut)="signOut()"></app-user>
  </div>

</mat-toolbar>
